<% layout("layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-8 offset-3">
      <h3>Listings Details</h3>
    </div>
    <div class="card col-6 offset-3">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <b><p class="card-text"><%= listing.title%></p></b>
        <%= listing.description%>
        <br />
        &#8377; <%= listing.price.toLocaleString("en-EN")%><br />
        <%= listing.location%><br />
        <%= listing.country%>
      </div>
    </div>

    <br />
  </div>
  <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
      >Edit</a
    >

    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-2">Delete</button><br /><br />
    </form>
  </div>
</body>
